@import url(variables.css);

.btn{
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: var(--radius-md);
    font-weight: var(--p-font-weight);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Botón primario */
.btn-primario{
    background: var(--primario-500);
    border-radius: var(--bordeR-8);
    color: var(--blanco-50);
    width: fit-content;
}

.btn-primario:hover{
    background: var(--primario-200);
}

.btn-primario:focus, .btn-primario:focus-visible{
    border: var(--borde-2) solid var(--primario-300);
    outline: none;
}

.btn-primario:active, .btn-primario.is-selected,
.btn-primario[aria-pressed="true"] {
    background: var(--primario-700);
}

/* Secundario */ 
.btn-secundario{
    background: var(--primario-50);
    border-radius: var(--bordeR-8);
    border: var(--borde-2) solid var(--primario-500);
    color: var(--negro-900);
    width: fit-content;
}

.btn-secundario:hover{
    background: var(--primario-100);
}

.btn-secundario:focus, .btn-secundario:focus-visible{
    background-color: var(--primario-50);
    outline: var(--borde-2) solid var(--azul-300);
    border: var(--borde-2) solid var(--primario-500);
}

.btn-secundario:active, .btn-secundario.is-selected,
.btn-secundario[aria-pressed="true"] {
    background: var(--primario-200);
}

/* Terciario ARREGLAR */ 
.btn-terciario{
    background: var(--primario-50);
    color: var(--negro-900);
    border-radius: var(--bordeR-8);
    border: none;
    width: fit-content;
}

.btn-terciario:hover{
    background: var(--primario-100);
}

.btn-terciario:focus, .btn-terciario:focus-visible{
    border: var(--borde-2) solid var(--primario-200);
    outline: none;
}

.btn-terciario:active, .btn-terciario.is-selected,
.btn-terciario[aria-pressed="true"] {
  background: var(--primario-300);
  border-color: none;
}

/* Tamaños */
.btn-Gigante{
    padding: var(--btn-Gigante-AA) var(--btn-Gigante-ID);
    font-size: var(--btn-Gigante-txt-size);
    line-height: var(--btn-Gigante-txt-line-height);
    font-weight: var(--btn-Gigante-txt-font-weight);
}

.btn-Grande{
    padding: var(--btn-Grande-AA) var(--btn-Grande-ID);
    font-size: var(--btn-Grande-txt-size);
    line-height: var(--btn-Grande-txt-line-height);
    font-weight: var(--btn-Grande-txt-font-weight);
}

.btn-Medio{
    padding: var(--btn-Medio-AA) var(--btn-Medio-ID);
    font-size: var(--btn-Medio-txt-size);
    line-height: var(--btn-Medio-txt-line-height);
    font-weight: var(--btn-Medio-txt-font-weight);
}

.btn-Pequenio{
    padding: var(--btn-Pequenio-AA) var(--btn-Pequenio-ID);
    font-size: var(--btn-Pequenio-txt-size);
    line-height: var(--btn-Pequenio-txt-line-height);
    font-weight: var(--btn-Pequenio-txt-font-weight);
}

.btn-Muy_Pequenio{
    padding: var(--btn-Muy_Pequenio-AA) var(--btn-Muy_Pequenio-ID);
    font-size: var(--btn-Muy_Pequenio-txt-size);
    line-height: var(--btn-Muy_Pequenio-txt-line-height);
    font-weight: var(--btn-Muy_Pequenio-txt-font-weight);
}

.btn-Extra_Pequenio{
    padding: var(--btn-Extra_Pequenio-AA) var(--btn-Extra_Pequenio-ID);
    font-size: var(--btn-Extra_Pequenio-txt-size);
    line-height: var(--btn-Extra_Pequenio-txt-line-height);
    font-weight: var(--btn-Extra_Pequenio-txt-font-weight);
}

/* Tablets */
@media (max-width: 1024px){
    .btn-Gigante, .btn-Grande, .btn-Medio{
        padding: var(--btn-Pequenio-AA) var(--btn-Pequenio-ID);
        font-size: var(--btn-Pequenio-txt-size);
        line-height: var(--btn-Pequenio-txt-line-height);
        font-weight: var(--btn-Pequenio-txt-font-weight);
    }
}

/* Celulares */
@media (max-width: 768px){
    .btn-Gigante, .btn-Grande, .btn-Medio, .btn-Pequenio, .btn-Muy_Pequenio{
        padding: var(--btn-Extra_Pequenio-AA) var(--btn-Extra_Pequenio-ID);
        font-size: var(--btn-Extra_Pequenio-txt-size);
        line-height: var(--btn-Extra_Pequenio-txt-line-height);
        font-weight: var(--btn-Extra_Pequenio-txt-font-weight);
    }
}