@import url(variables.css);

.button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: var(--bordeR-4);
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Botón primario */
.button-primario {
    background: var(--primario-500);
    border-radius: var(--bordeR-8);
    color: var(--blanco-50);
    width: fit-content;
    transition: all 0.2s ease;
}

.button-primario:hover:not(:disabled) {
    background: var(--primario-200);
}

.button-primario:focus,
.button-primario:focus-visible {
    box-shadow: 0 0 0 var(--borde-2) var(--primario-300);
    outline: none;
}

.button-primario:active:not(:disabled),
.button-primario.is-selected,
.button-primario[aria-pressed="true"] {
    background: var(--primario-700);
}

.button-primario:disabled, .button-primario[aria-pressed="true"]{
    background-color: var(--primario-100);
    color: var(--primario-200);
    pointer-events: none;
    cursor: not-allowed;
}

/* Secundario */
.button-secundario {
    background: var(--primario-50);
    border-radius: var(--bordeR-8);
    border: var(--borde-2) solid var(--primario-500);
    color: var(--negro-900);
    width: fit-content;
    transition: all 0.2s ease;
}

.button-secundario:hover:not(:disabled) {
    background: var(--primario-100);
}

.button-secundario:focus,
.button-secundario:focus-visible {
    background-color: var(--primario-50);
    box-shadow: 0 0 0 var(--borde-2) var(--azul-300);
}

.button-secundario:active:not(:disabled),
.button-secundario.is-selected,
.button-secundario[aria-pressed="true"] {
    background: var(--primario-200);
}

.button-secundario:disabled, .button-secundario[aria-pressed="true"]{
    background-color: var(--primario-50);
    color: var(--primario-200);
    border: var(--borde-2) solid var(--primario-100);
    pointer-events: none;
    cursor: not-allowed;
}

/* Terciario */
.button-terciario {
    background: var(--primario-50);
    color: var(--negro-900);
    border-radius: var(--bordeR-8);
    border: none;
    width: fit-content;
    transition: all 0.2s ease;
}

.button-terciario:hover:not(:disabled) {
    background: var(--primario-100);
}

.button-terciario:focus,
.button-terciario:focus-visible {
    box-shadow: 0 0 0 var(--borde-2) var(--primario-200);
    outline: none;
}

.button-terciario:active:not(:disabled),
.button-terciario.is-selected,
.button-terciario[aria-pressed="true"] {
    background: var(--primario-300);
}

.button-terciario:disabled, .button-terciario[aria-pressed="true"]{
    background-color: var(--primario-50);
    color: var(--primario-200);
    pointer-events: none;
    cursor: not-allowed;
}

.button-lg {
    padding: var(--button-padding-lg-TB) var(--button-padding-lg-LR);
    font-size: var(--button-lg);
}

.button-md {
    padding: var(--button-padding-md-TB) var(--button-padding-md-LR);
    font-size: var(--button-md);
}

.button-sm {
    padding: var(--button-padding-sm-TB) var(--button-padding-sm-LR);
    font-size: var(--button-sm);
}

/* Tablets */
@media (max-width: 1024px) {
    .button-lg {
        padding: var(--button-padding-md-TB) var(--button-padding-md-LR);
        font-size: var(--button-md);
    }
}

/* Celulares */
@media (max-width: 768px) {

    .button-lg,
    .button-md {
        padding: var(--button-padding-sm-TB) var(--button-padding-sm-LR);
        font-size: var(--button-sm);
    }
}