@import url(variables.css);

/* Tarjeta vertical */
.tarjeta-v {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: var(--blanco-50);
    box-shadow: var(--sombra-200);
    border-radius: var(--bordeR-8);
    padding: var(--relleno-16);
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: 0.2s ease;
}

.tarjeta-v img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: var(--bordeR-8);
    margin-bottom: 0.4rem;
}

.tarjeta-v h5 {
    font-size: var(--font-md);
}

/* Tarjeta horizontal */
.tarjeta-h {
    display: flex;
    flex-direction: row;
    background-color: var(--blanco-50);
    box-shadow: var(--sombra-200);
    padding: var(--relleno-16);
    border-radius: var(--bordeR-8);
    width: 100%;
    max-width: 576px;
    height: auto;
    transition: 0.2s ease;
}

.tarjeta-h-contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--espaciado-8);
}

/* Tarjeta pequeña*/
.tarjeta-p {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: var(--relleno-32);
    box-shadow: var(--sombra-200);
    border-radius: var(--bordeR-8);
    transition: 0.2s ease;
}

.tarjeta-p img {
    margin-bottom: 0.2rem;
}

.tarjeta-p h3, .tarjeta-p h4, .tarjeta-p h2{
    font-size: var(--font-md);
}

.tarjeta-p:hover, .tarjeta-v:hover, .tarjeta-p:hover, .tarjeta-h:hover {
    box-shadow: var(--sombra-400);
}

/* Tablets */
@media (max-width: 1024px) {

    .tarjeta-h {
        max-width: fit-content;
    }
}

/* Celulares */
@media (max-width: 768px) {
    .tarjeta-v {
        align-items: center;
        text-align: center;
    }

    .tarjeta-h {
        flex-wrap: wrap;
        max-width: fit-content;
    }
}