@import url(variables.css);

*{
    font-family: var(--font-family);
}

h1{
    font-size: var(--h1);
}

h2{
    font-size: var(--h2);
}

h3{
    font-size: var(--h3);
}

h4{
    font-size: var(--h4);
}

h5{
    font-size: var(--h5);
}

h6{
    font-size: var(--h6);
}

p{
    font-size: var(--font-md);
}

a{
    font-size: var(--font-md);
} 